In [17]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [18]:
cidades = pd.read_excel('BRCidadesRegiao.xlsx')
cidades

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,municipio,codigo,area_territorial,populacao_estimada,densidade_demografica,escolarizacao,idhm,...,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos,regiao_imediata
0,0,0,0,Açailândia,2100055,5808.304,113121,17.92,97.7,0.672,...,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0,AP de Imperatriz/MA
1,1,1,1,Afonso Cunha,2100105,371.338,6578,15.90,96.6,0.529,...,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0,AP de Teresina/PI
2,2,2,2,Água Doce do Maranhão,2100154,443.267,12652,26.13,98.3,0.500,...,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0,Parnaíba
3,3,3,3,Alcântara,2100204,1168.246,22112,14.70,96.8,0.573,...,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0,AP de São Luís/MA
4,4,4,4,Aldeias Altas,2100303,1942.121,26757,12.33,94.9,0.513,...,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0,Caxias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,5531,5531,5955,Pacaraima,1400456,8025.045,18913,1.30,93.0,0.650,...,8161.28,29966.90,114622.75,164518.39,12144,13547.30,108,979.0,379.0,Boa Vista
5532,5532,5532,5956,Rorainópolis,1400472,33579.739,30782,0.72,95.5,0.619,...,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0,Boa Vista
5533,5533,5533,5957,São João da Baliza,1400506,4284.505,8348,1.58,93.6,0.655,...,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0,Boa Vista
5534,5534,5534,5958,São Luiz,1400605,1526.898,8110,4.42,92.0,0.649,...,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0,Boa Vista
5535,5535,5535,5959,Uiramutã,1400704,8113.598,10789,1.04,60.2,0.453,...,1189.55,4.75,87.28,103680.32,9664,10728.51,8,7.0,25.0,Boa Vista

In [4]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5536 entries, 0 to 5535
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0.2             5536 non-null   int64
 1   Unnamed: 0               5536 non-null   int64
 2   Unnamed: 0.1             5536 non-null   int64
 3   municipio                5536 non-null   object
 4   codigo                   5536 non-null   int64
 5   area_territorial         5536 non-null   float64
 6   populacao_estimada       5536 non-null   int64
 7   densidade_demografica    5531 non-null   float64
 8   escolarizacao            5531 non-null   float64
 9   idhm                     5531 non-null   float64
 10  mortalidade_infantil     1574 non-null   float64
 11  pib_per_capita           5536 non-null   float64
 12  uf                       5536 non-null   object
 13  receitas_realizadas      5514 non-null   float64
 14  despesas_empenhadas      5514 non-null   float64
 15  saldo_receitas_despesas  5514 non-null   float64
 16  cidade                   5536 non-null   object
 17  estado                   5536 non-null   object
 18  longitude                5529 non-null   float64
 19  latitude                 5529 non-null   float64
 20  altitude                 5529 non-null   float64
 21  unidades                 5529 non-null   float64
 22  unidades_urbanas         5529 non-null   float64
 23  unidades_rurais          5458 non-null   float64
 24  area_plantada            5536 non-null   int64
 25  producao_graos           5536 non-null   int64
 26  IDHM_Renda               5530 non-null   float64
 27  IDHM_Longevidade         5530 non-null   float64
 28  IDHM_Educacao            5530 non-null   float64
 29  tipo_rural_urbano        5536 non-null   object
 30  GVA_agropecuaria         5536 non-null   float64
 31  GVA_industria            5536 non-null   float64
 32  GVA_Servicos             5536 non-null   float64
 33  GVA_publico              5536 non-null   float64
 34  GDP                      5536 non-null   float64
 35  GDP_populacao            5536 non-null   int64
 36  GDP_per_capita           5536 non-null   float64
 37  estabelecimentos         5536 non-null   int64
 38  carros                   5528 non-null   float64
 39  motos                    5528 non-null   float64
 40  regiao_imediata          5536 non-null   object
dtypes: float64(26), int64(9), object(6)
memory usage: 1.7+ MB

In [19]:
vif_dt = cidades[['area_territorial', 'populacao_estimada', 'densidade_demografica', 'escolarizacao',
'idhm', 'pib_per_capita']]

In [20]:
vif_dt

,area_territorial,populacao_estimada,densidade_demografica,escolarizacao,idhm,pib_per_capita
0,5808.304,113121,17.92,97.7,0.672,19780.01
1,371.338,6578,15.90,96.6,0.529,6934.67
2,443.267,12652,26.13,98.3,0.500,5895.85
3,1168.246,22112,14.70,96.8,0.573,5387.80
4,1942.121,26757,12.33,94.9,0.513,6614.18
...,...,...,...,...,...,...
5531,8025.045,18913,1.30,93.0,0.650,13880.70
5532,33579.739,30782,0.72,95.5,0.619,18832.65
5533,4284.505,8348,1.58,93.6,0.655,20041.66
5534,1526.898,8110,4.42,92.0,0.649,15710.68
5535,8113.598,10789,1.04,60.2,0.453,11847.26

In [21]:

# Replace infinite updated data with nan
vif_dt.replace([np.inf, -np.inf], np.nan, inplace=True)
# Drop rows with NaN
vif_dt.dropna(inplace=True)
print(vif_dt)

      area_territorial  populacao_estimada  densidade_demografica  \
0             5808.304              113121                  17.92
1              371.338                6578                  15.90
2              443.267               12652                  26.13
3             1168.246               22112                  14.70
4             1942.121               26757                  12.33
...                ...                 ...                    ...
5531          8025.045               18913                   1.30
5532         33579.739               30782                   0.72
5533          4284.505                8348                   1.58
5534          1526.898                8110                   4.42
5535          8113.598               10789                   1.04

      escolarizacao   idhm  pib_per_capita
0              97.7  0.672        19780.01
1              96.6  0.529         6934.67
2              98.3  0.500         5895.85
3              96.8  0.573         5387.80
4              94.9  0.513         6614.18
...             ...    ...             ...
5531           93.0  0.650        13880.70
5532           95.5  0.619        18832.65
5533           93.6  0.655        20041.66
5534           92.0  0.649        15710.68
5535           60.2  0.453        11847.26

[5531 rows x 6 columns]

/tmp/ipykernel_882/1427578624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vif_dt.replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_882/1427578624.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vif_dt.dropna(inplace=True)

In [22]:
# vif = data[['area', 'densidade', 'idh', 'populacao', 'rendimento']]
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i) 
    for i in range(len(vif_dt.columns))]
vif_data

                variavel         VIF
0       area_territorial    1.071160
1     populacao_estimada    1.287414
2  densidade_demografica    1.311548
3          escolarizacao  118.578969
4                   idhm  131.393449
5         pib_per_capita    2.781086